@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');



/* HOMEPAGE */

/* css for gift cards item */


  .flex_grid {
    display: flex;
    flex-grow: 1;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .columns {
      box-flex: 1;
      flex: 1;
  }
  
  .text{
    display: flex;
    align-items: center;
    justify-content: center;
    

  }
  .text_container {
      width: 60%;
      font-family: "Chivo", sans-serif;
      color: #ffffff;
  }

  .text_container button {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: black;
    font-family: "Chivo", sans-serif;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 35px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2 ease-in-out;
  }
  

  .text_container button:hover, button:active {
    background-color: black;
    color: white;
  }

  .item_image {
    background-size: cover;
    background-position:center;
  }

  .item_image img {
    margin: 0%;
    width: 100%;
    height: 100%;
    max-width: 700px;
    padding: 0;
  }


  @media (max-width: 640px) {
    .flex_grid {
      height: 40em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
     }
    .columns {
      order:vertical;
    }
   
    .text div p {
      padding: 1em;
    }
    .text_container {
      width: 90%;
    }
  }





/* BEDROOM LISTING PAGE */

.title h1{
    background-color: #E8E8E8;
    padding: 30px;
    font-family: "Chivo", sans-serif;
    font-size: 40px;
    text-align: center;
}

.title p {
    background-color: #E8E8E8;
    padding-bottom: 80px;
    font-family: "Chivo", sans-serif;
    font-size: 20px;
    text-align: center;
}


/* product style */
.product_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product_grid div {
    font-family: "Chivo", sans-serif;
    color: #ffffff;
    padding: 50px;
}

.product_grid div img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.product_grid div button {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: black;
    font-family: "Chivo", sans-serif;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 35px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2 ease-in-out;
  }
  
  
.product_grid div button:hover, div button:active {
    background-color: black;
    color: white;
  }



/* CART PAGE */


.cart_page {
  margin: auto;
}



table {
  width: 70%;
  flex-grow: 3;
  margin: auto;
}

th {
  text-align: left;
  padding: 5px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  font-family: "Chivo", sans-serif;
}

td {
  padding: 10px 5px;
}

td input {
  width: 30px;
  height: 31px;
  border-color: #ffffff;
  border-style: none;
  padding: 5px;
}

/* styling the remove button */
td a {
  color: #d1d1d1;
  font-size: 10px;
}

/* styling the img */
td img {
  width: 40px;
  height: 160px;

}
td {
  font-family: "Chivo", sans-serif;
  color: #ffffff;
}


.price {
  width: 100%;
  margin: auto;
}

.price table {
  
  border-top: 3px solid #ffffff;
  display: flex;
  justify-content: flex-end;
}



.price td button{
  justify-content: flex-end;
  font-family: "Chivo", sans-serif;
  color: #ffffff;
  border: 2px solid #ffffff;

  max-width: 300px;
  color: black;
  font-size: 18px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2 ease-in-out;
  }
  

  .price td button:hover, td button:active {
    background-color: black;
    color: white;
  }


td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
.cart_info {
  display: flex;
  flex-wrap: wrap;
}

.cart_info img {
  width: 100%;
  max-width: 200px;
}
.cart_info div h3, p, a{
  padding: 10px;
  font-family: "Chivo", sans-serif;
  color: #ffffff;
  text-decoration: none;
}




