
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

/* this css file is only for the top header portion */

body {
    background-color: #000000;
    width: 100%;
}


/* set margin of all elements to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  input,
  textarea,
  button,
  select, img, span,
  a {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
     outline: 0;
  }
  
  
  /*Navigation Bar*/
  .menubar {
    position: absolute;
    margin-top: 7px;
    font-size: 16px;
    margin-left: 13px;
  }
  
 


  .menubar h3 img{
      width: 210px;
      height: 60px;
  }
  
  #hamburger {
    position: absolute;
    right: 20px;
    top: 5px;
    display: none;
  }
  
  #close {
      position: absolute;
      top: 17px;
      right: 20px;
      display: none;
  }
  
  nav ul {
    display: block;
    float: right;
    overflow: hidden;
    margin: 7px 0;
    margin-right: 10px;
  }
  
  nav ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 17px;
  }
  
  nav ul li a {
      font-family: "Chivo", sans-serif;
    text-decoration: none;
    color: white;
  }
  
  @media screen and (max-width: 617px) {
    .menubar {
      margin-top: 7px;
      position: relative;
      overflow: hidden;
      display: block;
      font-size: 14px;
    }
     .menubar h3 {
        position: relative;
        margin-bottom: 10px;
     }
    nav {
      width: 100vw;
      height: 100vh;
      display: none;
    }
    nav ul {
      padding-top: 20px;
      display: block;
      width: 100%;
      margin: auto;
    }
    .nav-expanded {
      display: block;
    }
    .nav ul li {
      float: none;
      border-bottom: 2px solid #000000;
    }
    .nav ul li:last-child {
      border-bottom: none;
    }
    #hamburger {
      display: block;
    }
  }
  
  /*Navigation Bar*/
  
  
  
  /*Hero Image*/
  header {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("images/heroimage.jpeg");
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
  }
  
  .header_text {
    width: 500px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 10px;
    font-family: "Chivo", sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
  }
  
  
  header p {
    margin-bottom: 20px;
    font-family: "Chivo", sans-serif;
    color: white;
    font-size: 18px;
  }
  
  header button {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: black;
    font-family: "Chivo", sans-serif;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2 ease-in-out;
  }
  
  
  header button:hover, button:active {
    background-color: black;
    color: white;
  }
  
  @media screen and (max-width: 676px) {
    .header_text {
      width: 95%;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 601px) {
    header h1 {
      font-size: 40px;
    }
    header p {
      font-size: 15px;
      width: 85%;
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
    header button {
      font-size: 16px;
      width: 140px;
    }
  }
  
  @media screen and (max-width: 460px) {
    #photography {
      font-size: 35px;
    }
    header h1 {
      font-size: 18px;
    }
  }
  /*Hero Image*/






/* old stuff 
.menubar{
    background-color: transparent;
    text-align: center;
}

.header_container{
    background-image: url("images/heroimage.jpeg");
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.menubar a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Chivo", sans-serif;
    padding: 20px 16px;

}


.image_container a{
    display: flex;  
    margin-left: auto;
    margin-right: auto;
    font-size: 13pt;
    color: #000000;
    text-decoration: none;
    font-family: "Chivo", sans-serif;
    width: 180px;
    
}

.browse_furniture_btn{
    display:block;  
    margin-left: auto;
    margin-right: auto;
    font-family: "Chivo", sans-serif;
    color: #000000;
    text-decoration: none;
    width: 180px;
    font-size: 30px;
    border: 4px;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 15px;

} */


/* hover effect, changes button color */
/* .browse_furniture_btn:hover, .browse_furniture_btn:active { 
    background-color: #000000;
    /* border: 2px solid; */
    /* outline: #ffffff; */
    /* outline-width: 4px; */
    /* border-color: #ffffff; */
    /* color: #ffffff; */
    /* transition: background-color 0.2s ease-in, color 0.2s ease-in; *





/* product listings page */


/* .bedroom_header{ 
    display: block;
    background-image: url("images/bedroom_header.jpeg");
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}


.product_grid {
    font-family: "Chivo", sans-serif;
    padding: 16px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 20px;
    grid-auto-flow: row;
    position: absolute;
      }
      
 

/* .product_grid col { 
    display: grid;
    background-color: black;
    margin-bottom: 16px;
    padding: 16px;
    size: 10vh;
    min-height: 0;
    min-width: 0;
}*/

/* .product_grid img { 
    object-fit: contain;} */


